.container {
  display: flex;
  justify-content: space-between;
  max-width: var(--size-max-width);
  align-items: center;
  margin: 0 auto;
  padding: var(--space-2xl) var(--size-gutter);
}

.navigation {
  display: flex;
  list-style: none;
  margin: 0;
  gap: var(--space-xl);
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
}

.navigationItem a {
  border-bottom: 1.5px solid transparent;
  color: currentColor;
  text-decoration: none;
}

.navigationItem a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}

.logoLink {
  display: flex;
  font-weight: var(--medium);
  align-items: center;
  flex-direction: row;
  flex-shrink: 0;
  gap: var(--space-md);
}

@media (max-width: 767px) {
  .logoLink > span:last-child {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.logo {
  height: var(--size-logo);
  width: var(--size-logo);
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='esANZpFBCcm1' viewBox='0 0 64 64' shape-rendering='geometricPrecision' text-rendering='geometricPrecision'%3E%3Ctext dx='0' dy='0' font-family='%26quot%3BesANZpFBCcm1:::Concert One%26quot%3B' font-size='48' font-weight='400' transform='matrix(1.158563 0 0 1.158563 1.316172 53.688332)' stroke-width='0'%3E%3Ctspan y='0' font-weight='400' stroke-width='0'%3E%3C!%5BCDATA%5BHD%5D%5D%3E%3C/tspan%3E%3C/text%3E%3Cstyle%3E%3C!%5BCDATA%5B%40font-face %7Bfont-family: 'esANZpFBCcm1:::Concert One'%3Bfont-style: normal%3Bfont-weight: 400%3Bsrc: url(data:font/ttf%3Bcharset=utf-8%3Bbase64 AAEAAAAOAIAAAwBgT1MvMpX/j74AAAIYAAAAYGNtYXAAWADSAAAB1AAAAERjdnQgAD8H1AAAASQAAAASZnBnbZJB2voAAAJ4AAABYWdhc3AAAAAQAAAA7AAAAAhnbHlmGjI3ogAAA9wAAAJWaGVhZPx%2BKI4AAAGcAAAANmhoZWEOGQgxAAABeAAAACRobXR4EQoCBgAAAQAAAAAQbG9jYQF6AQMAAAD0AAAACm1heHACFwMmAAABOAAAACBuYW1lL%2BJOFgAABjQAAAJocG9zdP9tAGQAAAFYAAAAIHByZXAXLpg/AAABEAAAABEAAQAB//8ADwAAAE8ATwC0ASsAAAUYAO4DHgAABEYAhgSOAJKwACsAsgEEByuwACBFfWkYRAAAAAAqAAAACP5wAAAD7AAEBXgACAAAAAEAAAAEAIwABQA/AAIAAQAAAAAACgAAAgACWQABAAEAAwAAAAAAAP9qAGQAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAAH1QGaAAAGuP/I/9oGegABAAAAAAAAAAAAAAAAAAAABAABAAAAAQAAsmREQl8PPPUAHQgAAAAAAMth/JkAAAAAy6jg4v/I/nAGegemAAAACAACAAAAAAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAwAAAACAAIAAIAAAAgAEQASP//AAAAIABEAEj////h/77/uwABAAAAAAAAAAAAAwP1AZAABQAABZoFMwAAAR8FmgUzAAAD0QBmAgAAAAAAAAAAAAAAAACAAAAnAAAAQwAAAAAAAAAAcHlycwBAACAiFQfVAZoAAAfVAZogAAERQAAAAAPsBXgAAAAgAAGwACxLsAlQWLEBAY5ZuAH/hbBEHbEJA19eLbABLCAgRWlEsAFgLbACLLABKiEtsAMsIEawAyVGUlgjWSCKIIpJZIogRiBoYWSwBCVGIGhhZFJYI2WKWS8gsABTWGkgsABUWCGwQFkbaSCwAFRYIbBAZVlZOi2wBCwgRrAEJUZSWCOKWSBGIGphZLAEJUYgamFkUlgjilkv/S2wBSxLILADJlBYUViwgEQbsEBEWRshISBFsMBQWLDARBshWVktsAYsICBFaUSwAWAgIEV9aRhEsAFgLbAHLLAGKi2wCCxLILADJlNYsEAbsABZioogsAMmU1gjIbCAioobiiNZILADJlNYIyGwwIqKG4ojWSCwAyZTWCMhuAEAioobiiNZILADJlNYIyG4AUCKihuKI1kgsAMmU1iwAyVFuAGAUFgjIbgBgCMhG7ADJUUjISMhWRshWUQtsAksS1NYRUQbISFZLQAAAAACAO4AAAQqBXgAFwAbAESwHC%2BwGi%2BwANywHBCwC9CwCy%2BwGdywABCwHdwAsABFWLARLxuxEQc%2BWbAARViwBS8bsQUBPlmwERCwGNywBRCwGdwwMSUUDgIjISIuAjURND4CMyEyHgIVBREhEQQqEipGNP4wNUYqEREqRjUB0DRGKhL9vgFIgCwyGwcHGzIsBHgrMxsHBxszK1b8NAPMAAIAhgAAA/AFeAAZACsARLAsL7AjL7AG3LAsELAT0LATL7Ab3LAGELAt3ACwAEVYsAAvG7EABz5ZsABFWLANLxuxDQE%2BWbAAELAa3LANELAb3DAxATIeAhURFA4CBwYHISIuAjURND4CMxcRMzY3PgM1ETQuAicmJwJAW511QyI3RiRWbf60OT4cBQUcPjmYgisiDhwWDQ0WHA4iKwV4LluIW/2UTndXPRMuBidBUiwDritSQCfq/GACEgcYIS4eAk4hMyYaCBMDAAABAJIAAAQEBXgALwBmsDAvsA0vsDAQsADQsAAvsArcsA0QsBfcsA0QsCLQsAoQsCTQsBcQsDHcALAARViwBS8bsQUHPlmwAEVYsBIvG7ESBz5ZsABFWLAdLxuxHQE%2BWbAARViwKi8bsSoBPlmyDCMDKzAxEzQ%2BAjMyHgIVESERND4CMzIeAhURFA4CIyIuAjURIREUDgIjIi4CNZIIHzw1ND0fCAESCB88NTQ9HwgIHz00NTwfCP7uCB89NDU8HwgEkitSQSgoQVIr/sYBOitSQSgoQVIr/FQsUkEnJ0FSLAFM/rQsUkEnJ0FSLAAAAAAAAAgAZgADAAEECQAAAUAAwgADAAEECQABABYArAADAAEECQACAA4AngADAAEECQADACwAcgADAAEECQAEABYArAADAAEECQAFABoAWAADAAEECQAGACQANAADAAEECQAOADQAAABoAHQAdABwADoALwAvAHMAYwByAGkAcAB0AHMALgBzAGkAbAAuAG8AcgBnAC8ATwBGAEwAQwBvAG4AYwBlAHIAdABPAG4AZQAtAFIAZQBnAHUAbABhAHIAVgBlAHIAcwBpAG8AbgAgADEALgAwADAAMwAxAC4AMAAwADMAOwBwAHkAcgBzADsAQwBvAG4AYwBlAHIAdAAgAE8AbgBlAFIAZQBnAHUAbABhAHIAQwBvAG4AYwBlAHIAdAAgAE8AbgBlAEMAbwBwAHkAcgBpAGcAaAB0ACAAKABjACkAIAAyADAAMQAxACwAIAAyADAAMQAxACAASgBvAGgAYQBuACAASwBhAGwAbABhAHMAIAAoAGoAbwBoAGEAbgBrAGEAbABsAGEAcwBAAGcAbQBhAGkAbAAuAGMAbwBtACkALAAgAEMAbwBwAHkAcgBpAGcAaAB0ACAAKABjACkAIAAyADAAMQAxACwAIAAyADAAMQAxACAATQBpAGgAawBlAGwAIABWAGkAcgBrAHUAcwAgACgAbQBpAGgAawBlAGwAdgBpAHIAawB1AHMAQABnAG0AYQBpAGwALgBjAG8AbQApACwAIAB3AGkAdABoACAAUgBlAHMAZQByAHYAZQBkACAARgBvAG4AdAAgAE4AYQBtAGUAIABDAG8AbgBjAGUAcgB0AC4=) format('truetype')%3B%7D%5D%5D%3E%3C/style%3E%3C/svg%3E");
}
